<!doctype html>\
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="file/c.css" media="all">\
<title>${html_title_wrap()}</title>\
${self.html_head()|trim}\
</head><body>\
${self.html_body()|trim}\
<div id="footer">
  <p class="copyright">
    Copyright 2009,
    张沈鹏,
	董诣,
    陈寅,
	<span class="amp">&amp;</span>
    敬宓    
  </p>
</div>
<div style="margin:50px;font-size:12px;color:#999;text-align:right">京ICP备10008809号</a>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10347470-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
<%def name="html_title_wrap()" filter="html_title_filter">${self.html_title()}</%def>
<%def name="html_title_filter(txt)" filter="trim">
<%txt=txt.strip()%>
%if txt:
${txt}
%else:
网站开发深入浅出
%endif
</%def>
<%def name="html_head()"></%def>
<%def name="html_title()"></%def>
<%def name="html_body()"></%def>
