<%inherit file="/base.html" />
<%def name="html_title()">网站开发深入浅出 - Python篇</%def>
<%def name="html_body()">
    <div id="bar">写网站，就这么回事...</div>
    <h1>网站开发深入浅出 - Python篇</h1>

    <h2>关于本书</h2>
    <p>
网站开发，易于上手，难于精通。
    </p>
    <p>
新兴的Web2.0网站，强调用户互动的实时性，内容投放的针对性，浏览体验的流畅性，这无疑又带来了很多新的问题和挑战。
    </p>
    <p>
本书将配合Python语言，深入浅出的讲解网站开发中常遇到的一系列问题，希望对你能有所启示。
    </p>
    <p>
    你可以加入<a href="https://groups.google.com/group/pythonbook-comment/subscribe?hl=zh-CN" target="_blank">邮件列表</a>与我们进行讨论，任何意见都是欢迎的。 
    </p>
    <div id="buy">
<div class="btw">
    <div class="oc">
	<h1>订阅更新</h1>
	<h2>网站开发深入浅出 - Python篇</h2>
	<form class="button_set" target="_blank" action="http://groups.google.com/group/pythonbook-notify/boxsubscribe">
	    <p><span class="ptl">输入您的邮箱，订阅更新</span>
        <p><input name="email" type="text" style="margin-right:10px;width:190px;padding:2px 3px 2px;"></input><input type="submit" name="sub" style="padding:2px;*padding:0;*padding-top:3px;background:#fff;border:1px solid #ccc" value="订阅"></input></p>
  <input type=hidden name="hl" value="zh-CN">

	</form>
    </div>
</div>
</div>
    <h2>序</h2>
    <h2>前言</h2>
    %for num,name in zip(chapter_number,chapter_list):
        <h2>${num}. ${chapter_title_dict[name]}</h2>
        %for pos,i in enumerate(chapter_content_dict.get(name,())):
            <%
            i = i.strip().split("\n")
            %>
            %if i:
                <h3><span>${str(1+pos).zfill(2)}.</span>
                %if len(i)>1:
                    <a href="${name}_${pos}.html">${i[0]}</a>
                %else:
                    ${i[0]}
                %endif
                </h3>
            %endif
        %endfor
    %endfor
    
</%def>