<%inherit file="/base.html" />
<%def name="html_title()">${title}</%def>
<%def name="html_body()">
<a id="bar" href="index.html">返回目录</a>
<div id="header">
<h1>${title}</h1>
</div>

<div id="preamble">
${content|n}

<div class="dirnav">
%if pre_link:
<a href="${pre_link}">上一节</a>
%endif
<a href="index.html">返回目录</a>
%if next_link:
<a href="${next_link}">下一节</a>
%endif
</div>

</div>

    <script type="text/javascript" src="../file/c.js"></script>
    <!-- Piwik -->
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://books.couchdb.org/piwik/" : "http://books.couchdb.org/piwik/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    piwik_action_name = '';
    piwik_idsite = 1;
    piwik_url = pkBaseURL + "piwik.php";
    piwik_log(piwik_action_name, piwik_idsite, piwik_url);
    </script>

    <!-- End Piwik Tag -->
</%def>