p,html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,fnt,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,fieldset,form,label,legend,table,caption,tody,tfoot,thead,tr,th,td{
margin:0;
padding:0;
border:0;
outline:0;
font-family:宋体;
font-size:100%;
vertical-align:baseline;
background:transparent;
font-weight:normal;
}
textarea{background:#fff;overflow:auto;font-family:新宋体,宋体,Simsun;font-size:16px;border:1px solid #ccc;}
body{background:#fff}
span,div{cursor:default}
strong,em,optgroup{font-style:normal;font-weight:bold}
optgroup{color:#566;text-align:center}
em{color:#a31}
a{color:#13a;text-decoration:none;}
a:hover{color:#F60;text-decoration:underline;}
.R{float:right}
.L{float:left}
.CLF:after{content:"\0020";display:block;height:0;clear:both;}
.CLF{_height:1em;min-height:1px;}

body{line-height:1}

ol,ul{list-style:none}

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
/* `Containers
*/

.CN16 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

/* `Grid >> Global
*/

.G1,
.G2,
.G3,
.G4,
.G5,
.G6,
.G7,
.G8,
.G9,
.G10,
.G11,
.G12,
.G13,
.G14,
.G15,
.G16 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.CN16 .G4 {
    width: 220px;
}

.CN16 .G8 {
    width: 460px;
}

.CN16 .G12 {
    width: 700px;
}

.CN16 .G16 {
    width: 940px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
*/

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}


/* `Grid >> 16 Columns
*/

.CN16 .G1 {
    width: 40px;
}

.CN16 .G2 {
    width: 100px;
}

.CN16 .G3 {
    width: 160px;
}

.CN16 .G5 {
    width: 280px;
}

.CN16 .G6 {
    width: 340px;
}

.CN16 .G7 {
    width: 400px;
}

.CN16 .G9 {
    width: 520px;
}

.CN16 .G10 {
    width: 580px;
}

.CN16 .G11 {
    width: 640px;
}

.CN16 .G13 {
    width: 760px;
}

.CN16 .G14 {
    width: 820px;
}

.CN16 .G15 {
    width: 880px;
}

/* `Prefix Extra Space >> Global
*/

.CN16 .PF4 {
    padding-left: 240px;
}

.CN16 .PF8 {
    padding-left: 480px;
}

.CN16 .PF12 {
    padding-left: 720px;
}

/* `Prefix Extra Space >> 16 Columns
*/

.CN16 .PF1 {
    padding-left: 60px;
}

.CN16 .PF2 {
    padding-left: 120px;
}

.CN16 .PF3 {
    padding-left: 180px;
}

.CN16 .PF5 {
    padding-left: 300px;
}

.CN16 .PF6 {
    padding-left: 360px;
}

.CN16 .PF7 {
    padding-left: 420px;
}

.CN16 .PF9 {
    padding-left: 540px;
}

.CN16 .PF10 {
    padding-left: 600px;
}

.CN16 .PF11 {
    padding-left: 660px;
}

.CN16 .PF13 {
    padding-left: 780px;
}

.CN16 .PF14 {
    padding-left: 840px;
}

.CN16 .PF15 {
    padding-left: 900px;
}

.popwin{
visibility:hidden;
position: fixed;
background:#fff;
border:1px solid #dfdfff;
padding:20px 24px 14px 14px;
_position: absolute;
_top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)*.45))!impotant;
}
.popwin_bg{
opacity:.06;
filter:alpha(opacity=6);
position: fixed;
background:#00f;
_position:absolute;
_top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)*.45))!impotant;
}
.popwin form{
padding:0;margin:0;border:1px solid #fff;
}
.popwin_close{font-family:"Comic Sans MS";position:absolute;right:3px;top:0;z-index:1;padding:0 3px;color:#afafff;}
.popwin_close:hover{
color:#f00;
text-decoration:none;
border:1px solid #fff;
}

pre{white-space:pre-wrap;word-wrap:break-word}
input{padding:3px;font-size:16px;}
p{line-height:1.5;}
div{line-height:22px}
form a{color:#13c;}
.W100{width:100%;float:left}
.popwin p{font-size:14px}
/* 导航 */
#logo{
    float:left;
    margin:8px 0 0;
    font-size:20px;
    font-family:georgia,serif;
    color:#332;
}
#logo:hover{text-shadow: #36414d 0 3px 4px;}
.Ph2{
color:#580;margin-top:-15px
}
.Nav{
    border-bottom: dotted 1px #ccc;
    padding:0;
    margin:0;
}
.MB8{margin-bottom:8px}
#mainmenu,#NavR{
    padding:8px 0 5px;
}
#mainmenu{float:left;}
#NavR{float:right}
#mainmenu a,#NavR a{
    color:#332;
    padding:4px 8px 3px;
    margin-left:8px;
    border:1px solid #fff;
}
#mainmenu a:visited,#NavR a:visited{
    color: #430;
}
#mainmenu a:hover,#NavR a:hover{
    text-decoration:none;
    border:1px solid #e3e3e3;
}
.foot{text-align:right;font-size:12px;float:left;width:100%;clear:both;margin:25px 0 10px;}
.foot a{color:#99a}

h1{
_padding-top:1px;
margin-bottom:9px;
color:#555;
}
.MeBr a{
font-size:12px;
}
.Page{
font-family:georgia,times,serif;
font-size:14px;
color: #aaa;
margin-top:9px;
line-height:150%;
text-align:center;
}
.Page a,.Page span{
padding:0 4px 1px;
color:#369;
margin:1px;
text-decoration:none;
}
.Page a:hover{
text-decoration:underline;
}
.Page span{
color:#ccc;
}
.Page .now{
background:#33609B;
color:#fff;
}
.SBt{color:#215;border:1px solid #dde;border-bottom:0;background:#F3F6FC;padding:1px 8px;font-size:13px;}
.SBb{padding:5px 9px;border:1px solid #dde;border-top-width:0;font-size:12px;margin-bottom:12px;}
.SBbA{border-top-width:1px}
.SBb p{font-size:12px;}
.SBs{
border-bottom:1px dotted #dde;
margin-bottom:1px;
padding-bottom: 1px;
color:#051;
}
.ExtDwn,.ExtUp{
margin:0 0 2px;padding:4px;cursor:pointer;
padding-right:14px;
background:url(pic/adwn.gif) no-repeat 99.3% 8px;
*background-color:#fff;
margin-right:1px;
border:1px solid #ececec;
border-width:1px 0;
_display:inline-block;
}
.G8 .ExtDwn{
background-position:99% 8px;
}
.ExtDwn a{
line-height:18px;
}
.ExtUp{margin-bottom:3px;
background-position:99.3% 8px;
background-image:url(pic/aup.gif);
}
.CN16 .W470{width:470px}
.M0{margin:0}
.MT50{margin-top:50px}
.M00x{margin:0 0 20px}
.C4wi,.C4img{height:154px;width:220px;border:1px #ddd solid;padding:1px;background:#fff}
.C4wi{margin:0 6px 0 0;_margin-right:2px}
.ExtUp:hover,.ExtDwn:hover{background-color:#ffc}
.ExtP .feed_entry_text{display:none}
.feed_entry_text{margin-bottom:12px;font-size:16px}
.feed_entry_text p{margin-bottom:8px;font-size:16px}
.pageTip{float:right;font-size:12px;margin-top:5px;color:#999;_padding-top:1px;}
.ExtP{margin-left:4px;font-size:14px}
.ToolB{font-size:12px;color:#999;float:right;margin-top:3px;}
.ToolB a{color:#9a9aff}
.BtxtT{
font-weight:bold;margin-bottom:12px;text-align:center
}
.BtxtA{
margin-bottom:8px
text-align:right;
}
.BtxtR{
text-align:right;
margin:24px 0 50px;
}
.SBS{
margin-bottom:9px
}
.SBm{
font-size:12px;
}
.SBm,.SBs a{
float:right;
color:#9a9aff;
}
.Bgtag{color:#999;margin-left:-3px}
.Bgtag a{margin:0 3px}
.Gsrh{
*padding:2px 3px 1px;
*margin-bottom:-1px;
*width:auto;
_width:0;
*overflow:visible;
}
#Iwt{display:none;position:absolute;height:0;}
#Iwt button{
position: absolute; width:56px;*padding-top:3px;font-size: 16px;
}
.IwtA{font-family:comic Sans MS;}
.BForm select{font-size:16px;margin-left:-6px;}
.BForm span{display:block;margin-top:5px;font-size:14px;color:#666;text-align:left;margin-left:38px}
.BForm p label{margin-right:10px}
.BForm p input{width:286px}
.BForm p{margin-bottom:20px;font-size:14px}
.BForm .Err,.Err{padding-bottom:2px;font-size:12px;margin-top:0;color:#d30}
.Err{display:block}
.Warn{color:#d30;}
.Ok{color:#090;}
.HideErr .Err{display:none}
.Nav2{
text-align:right;
margin:0;
font-size:13px;
pading:4px 0;
margin-bottom:8px;
border-bottom:1px solid #E7E7E7;
}
.Nav2 a{
padding:5px 6px 4px;
color:#2B2B2B;
}
.Nav2L{
float:left;
}
.Nav2L a{
border-right:1px solid #E7E7E7;
}
.Nav2R{
margin-right:5px;
float:right;
}
.Nav2 .now{
color:#000;
background:#f3f3f3;
}
.Ah1{
color:#000;
text-align:center;
margin:8px 0 2px;
}
.Ah{
margin:6px 0;padding:6px 8px;color:#445;border:1px solid #C3CED9;background:#F9FBFC
}
.cqe{
background:url(pic/cqe.gif) no-repeat bottom right;
padding:0 20px 30px 0;
margin-bottom:8px;
}
.oqe{
background:url(pic/oqe.gif) no-repeat top left;
padding:20px 0 0 30px;
}
.Outa{font-size:12px;}